
#obj{
    font-size: xx-large; 
    text-decoration: underline;  
    font-weight: bold;
}
#lab3List {
    background-color: bisque; 
    font-family: 'Times New Roman', Times, serif ; 
    font-size: medium; 
    width: 50%;
    color: red; 
  }